{{ template "_internal/google_analytics.html" . }}
<script src="{{ "fancybox/jquery.fancybox.pack.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/r.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/yaml.min.js"></script>
<script>hljs.configure({languages: []}); hljs.initHighlightingOnLoad();</script>
{{ range .Site.Params.custom_js }}
<script src="{{ . | absURL }}"></script>
{{ end }}

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  }
});
</script>
<script src="https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
MathJax.Hub.Queue(function() {
  var jaxs = MathJax.Hub.getAllJax();
  for (var i = 0; i < jaxs.length; i++) {
    var $jax = $(jaxs[i].SourceElement());
    if ($jax.parent().is('code')) $jax.unwrap();
  }
});
</script>
