{{ if .IsPage }}
<section id="main" class="full-width">
{{ else }}
<section id="main">
{{ end }}
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                <img src="{{ .Params.banner | absURL }}" class="article-banner">
            {{ end }}

<header class="article-header">
    <a href="{{ .Permalink }}">
    <h1 class="article-title" itemprop="name">
        {{ .Title }}
    </h1>
    </a>
    {{ if and (isset .Params "author") (not (eq .Params.author "")) }}
    <div class="article-meta">
      <div>
        {{ if not .Params.author_by }}
        <i class="fa fa-user"></i>
        {{ .Params.author }}
        {{ end }}
        <i class="fa fa-calendar"></i>
        <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>

        {{ if isset .Params "categories" }}
            {{ $categoriesLen := len .Params.categories }}
            {{ if gt $categoriesLen 0 }}
                <i class="fa fa-folder"></i>
                {{ range $k, $v := .Params.categories }}
                {{ $url := printf "%s/%s" "categories" (. | urlize | lower) }}
                <a class="article-category-link" href="{{ $url | absURL }}">{{ . }}</a>
                {{ if lt $k (sub $categoriesLen 1) }}&middot;{{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
                <i class="fa fa-tags"></i>
                {{ range $k, $v := .Params.tags }}
                {{ $url := printf "%s/%s" "tags" (. | urlize | lower) }}
                <a class="article-category-link" href="{{ $url | absURL }}">{{ . }}</a>
                {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
      </div>
      {{ with .Params.author_by }}
      <div>{{ . | markdownify }}</div>
      {{ end }}
    </div>
  {{ end }}
</header>
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>
            {{ partial "article_footer" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

    {{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
    <section id="comments">
        <div id="disqus_thread">
        <script type="text/javascript">
        (function() {
            if (location.hostname === "localhost" || location.hostname === "127.0.0.1")
                return;
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            var disqus_shortname = '{{ .Site.DisqusShortname }}';
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
    {{ end }}
</section>
